{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

    <div class="focus-form-wrapper">

        <h1 class="page-header">Sign in to your profile</h1>

        <div class="panel panel-default">
            <div class="panel-body">

                <form role="form"
                      action="{% url 'accounts:login' %}"
                      method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        {% include 'snippets/field_input.html' with field=form.username %}
                    </div>
                    <div class="form-group">
                        {% include 'snippets/field_input.html' with field=form.password type='password' %}
                    </div>

                    {% bootstrap_form_errors form %}

                    {% buttons %}
                        <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
