{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

    <div class="focus-form-wrapper">

        <h1 class="page-header">Reset your password</h1>

        <div class="panel panel-default">
            <div class="panel-body">

                <form role="form"
                      action="{% url 'accounts:password_reset' %}"
                      method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        {% include 'snippets/field_input.html' with field=form.email type='email' %}
                    </div>

                    {% bootstrap_form_errors form %}

                    {% buttons %}
                        <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
                        <a href="{% url 'accounts:login' %}" class='btn btn-default btn-lg'>Cancel</a>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
