{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

    <div class="focus-form-wrapper">


        <h1 class="page-header">Change your password</h1>

        <div class="panel panel-default">
            <div class="panel-body">
                {% if validlink %}

                    <form role="form"
                          action=""
                          method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% include 'snippets/field_input.html' with field=form.new_password1 type='password' %}
                        </div>

                        <div class="form-group">
                            {% include 'snippets/field_input.html' with field=form.new_password2 type='password' %}
                        </div>

                        {% bootstrap_form_errors form %}

                        {% buttons %}
                            <button type="submit" class="btn btn-primary btn-lg">Set New Password</button>
                            <a href="{% url 'accounts:login' %}" class='btn btn-default btn-lg'>Cancel</a>
                        {% endbuttons %}
                    </form>
                {% else %}

                    <div class="alert alert-danger">Sorry, the password reset link is invalid or expired.</div>

                    {% buttons %}
                        <a href="{% url 'accounts:password_reset' %}" class='btn btn-default btn-lg'>Reset my password
                            again</a>
                    {% endbuttons %}

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
