{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="container interior">
        <div class="focus-form-wrapper">
            <h1 class="page-header">Create an Account</h1>

            <p class="lead">Provide your details below to join the chat room</p>

            <div class="panel panel-default">
                <div class="panel-body">

                    <form role="form"
                          action="{% url 'accounts:registration_register' %}"
                          method="post">
                        {% csrf_token %}

                        <div class="form-group row">
                            <div class="col-sm-6 form-left-col">
                                {% include 'snippets/field_input.html' with field=form.first_name %}
                            </div>
                            <div class="col-sm-6 form-right-col">
                                {% include 'snippets/field_input.html' with field=form.last_name %}
                            </div>
                        </div>

                        <div class="form-group">
                            {% include 'snippets/field_input.html' with field=form.email type='email' %}
                        </div>

                        <div class="form-group">
                            {% include 'snippets/field_input.html' with field=form.username %}
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6 form-left-col">
                                {% include 'snippets/field_input.html' with field=form.password1 type='password' %}
                            </div>
                            <div class="col-sm-6 form-right-col">
                                {% include 'snippets/field_input.html' with field=form.password2 type='password' %}
                            </div>
                        </div>

                        {% bootstrap_form_errors form %}

                        {% buttons %}
                            <button type="submit" class="btn btn-primary btn-lg">Create Account</button>
                            <a href="{% url 'accounts:login' %}" class="form-alt-link">I have an account</a>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
