@import '../vendor/bower/bootstrap/less/mixins.less';
@import 'variables.less';

.marketing h4 {
    margin-top: 20px;
}

.simple-button(@color; @background; @border) {
    color: @color;
    background-color: @background;
    border-color: @border;
}

.container .jumbotron {
    text-align: center;

    h1 {
        font-weight: lighter;
        /*font-style: italic;*/
    }

    .lead {

    }

    .btn-action {
        .button-variant(@jumbotron-color; @jumbotron-bg; @jumbotron-color);

        &:hover,
        &:focus,
        &:active,
        &.active,
        .open > .dropdown-toggle& {
            background-color: lighten(@jumbotron-bg, 10%);
            border-color: darken(@jumbotron-color, 12%);
        }

        margin-top: 10px;
        padding: 20px 30px;
        font-size: 21px;

//        &:hover {
//            .simple-button(@jumbotron-bg; @jumbotron-color; @jumbotron-color);
//        }
    }
}

