
.focus-form-wrapper .form-control {
    border-radius: 2px;
}

.focus-form-wrapper .form-left-col {
    margin-bottom: 10px;
}

.focus-form-wrapper .page-header {
    border-bottom: none;
}

.focus-form-wrapper .form-group:last-child {
    margin-bottom: 0;
}

.focus-form-wrapper .btn {
    margin: 5px 0;
}

@media (min-width: 768px) {
    .focus-form-wrapper {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .focus-form-wrapper .page-header {
        text-align: center;
    }

    .focus-form-wrapper .lead {
        text-align: center;
    }

    .focus-form-wrapper .form-left-col {
        padding-right: 5px;
        margin-bottom: 0;
    }

    .focus-form-wrapper .form-right-col {
        padding-left: 5px;
    }

    .focus-form-wrapper .btn {
        margin: 0;
    }
}

.form-alt-link {
    padding: 10px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.form-alt-link:hover {
    text-decoration: none;
}
