.user-profile.focus-form-wrapper {
    max-width: 600px;
}

.user-profile .row {
    margin-bottom: 10px;
}

.quick-buttons {
    margin-bottom: 20px;
}

.quick-buttons .btn {
    padding: 0;
    margin: 10px 0;
    display: block;

    font-size: 20px;
    line-height: 60px;
    height: 60px;
}

.quick-buttons .label {
    font-size: 16px;
    font-weight: normal;
    background-color: #B4B4B4;
}

.quick-buttons .btn br {
    display: none;
}

@media (min-width: 768px) {
    .quick-buttons .btn {
        display: inline-block;
        width: 288px;
        height: 120px;
        line-height: 120px;
        font-size: 24px;
    }

    .quick-buttons .btn:first-child {
        margin-right: 10px;
    }
    .quick-buttons .btn:last-child {
        margin-left: 10px;
        padding-top: 20px;
        line-height: 33px;
    }

    .quick-buttons .btn br {
        display: block;
    }
}
