{% extends 'base.html' %}

{% block content %}
    <div class="container interior">
        <h1 class="page-header">Research on Collaborative Chat</h1>

        <p class="lead">
            Selected papers on the uses and benefits of chat in distributed collaborations.
        </p>

        <ol class="publication-list">
            <li>
                Aragon, C. R., Poon, S. S., Monroy-Hernandez, A., Aragon, D.
                A Tale of Two Online Communities: Fostering Collaboration and Creativity in Scientists and Children.
                ACM Conference on Creativity and Cognition 2009.
                <a href="http://dl.acm.org/citation.cfm?id=1640239" target="_blank">ACM DL</a>.
            </li>

            <li>
                Poon, S. S., Thomas, R. C., Aragon, C. R., Lee, B.
                Context-Linked Virtual Assistants for Distributed Teams: An Astrophysics Case Study.
                ACM Conference on Computer Supported Cooperative Work, CSCW 2008.
                <a href="http://dl.acm.org/citation.cfm?id=1460623" target="_blank">ACM DL</a>.
            </li>

            <li>
                Fono, D. and Baecker, R.
                Structuring and Supporting Persistent Chat Conversations.
                ACM Conference on Computer Supported Cooperative Work, CSCW 2006.
                <a href="http://dl.acm.org/citation.cfm?id=1180944" target="_blank">ACM DL</a>.
            </li>

            <li>
                Birnholtz, J. P., Finholt, T. A., Horn, D. B. and Bae, S.
                Grounding needs: achieving common ground via lightweight chat in large, distributed, ad-hoc groups.
                ACM Conference on Human Factors in Computing Systems, CHI 2005.
                <a href="http://dl.acm.org/citation.cfm?id=1054976" target="_blank">ACM DL</a>.
            </li>

            <li>
                Halverson, C. A.
                The value of persistence: a study of the creation, ordering and use of conversation archives by a
                knowledge
                worker.
                Hawaii International Conference on System Sciences, HICSS 2004.
                <a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=1265284" target="_blank">IEEE Xplore</a>.
            </li>

            <li>
                Erickson, T., Smith, D. N., Kellogg, W. A., Laff, M. Richards, J. T. and Bradner, E.
                Socially translucent conversations: social proxies, persistent conversation, and the design of "Babble".
                ACM Conference on Human Factors in Computing Systems, CHI 1999.
                <a href="http://dl.acm.org/citation.cfm?id=302997" target="_blank">ACM DL</a>.
            </li>

            <li>
                Finholt, T. A.
                SocEvaluation of electronic work: research on collaboratories at the University of Michigan.
                ACM SIGOIS Bulletin 16 (2), 1995.
                <a href="http://dl.acm.org/citation.cfm?id=226222" target="_blank">ACM DL</a>.
            </li>
        </ol>
    </div>
{% endblock %}
