{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container interior">
        <h1 class="page-header">Chat Client Configuration</h1>

        <p class="lead">You can connect to the data science chat room using any client that supports XMPP.</p>

        <p>
            The data science chat room uses
            <a href="https://en.wikipedia.org/wiki/XMPP" target="_blank">XMPP/Jabber</a>.
            XMPP is an open chat protocol that is supported by a wide range of client programs and services.
        </p>

        <p>
            We provide instructions for connecting to the data science chat room with Pidgin and Adium, two popular
            open-source chat programs. However, the setup should be similar if you want to connect with
            <a href="http://xmpp.org/xmpp-software/clients/" target="_blank">another XMPP client</a>.
        </p>

        <p><strong>Note: Before you can connect, you must have a
            <a href="{% url 'accounts:registration_register' %}">valid username and password</a>.</strong></p>

        <div class="client-options row">
            <div class="col-sm-2">
                <p class="lead">Client instructions:</p>
            </div>
            <div class="col-sm-9">
                <a href="{% url 'web:setup_pidgin' %}" class="btn btn-lg btn-default">
                    Pidgin
                    <p class="small text-muted">Windows and Linux</p>
                </a>
                <a href="{% url 'web:setup_adium' %}" class="btn btn-lg btn-default">
                    Adium
                    <p class="small text-muted">Mac OS X</p>
                </a>
                <a class="btn btn-lg btn-default disabled">
                    Mobile
                    <p class="small text-muted">Coming soon!</p>
                </a>
            </div>
        </div>

        <div class="other-client-instructions">
            <a id="other" class="anchor"></a>

            <div class="media">
                <a class="pull-left" href="http://xmpp.org/xmpp-software/clients/">
                    <img class="media-object client-logo" src="{% static 'img/xmpp.logo.png' %}" alt="XMPP logo">
                </a>

                <div class="media-body">
                    <h2 class="media-heading">Other XMPP clients</h2>

                    <p>There are many XMPP clients out there. The XMPP Standards Foundation
                        <a href="http://xmpp.org/xmpp-software/clients/" target="_blank">maintains a list</a>.</p>

                    <p>The details below should be sufficient for connecting most clients to the data science chat
                        room.</p>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Connection Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <label class="col-xs-3">XMPP Domain:</label>

                                <div class="col-xs-9"><code>{{ xmpp_server }}</code></div>
                            </div>

                            <div class="row">
                                <label class="col-xs-3">Port number:</label>

                                <div class="col-xs-9">
                                    <code>{{ xmpp_server_port }}</code>
                                    {% if xmpp_server_port == 5222 %}
                                        (Default)
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-xs-3">Conference Domain:</label>

                                <div class="col-xs-9"><code>{{ xmpp_muc_server }}</code></div>
                            </div>

                            <div class="row">
                                <label class="col-xs-3">Room Name:</label>

                                <div class="col-xs-9"><code>{{ xmpp_muc_room }}</code></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
