{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="consent-info">
        <h1 class="page-header">Collaborative Chat for Data Science</h1>

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Consent Information</strong>
            </div>
            <div class="panel-body">
                {% include 'snippets/study_information.html' %}
            </div>
            <div class="panel-footer">
            {% if user.is_authenticated and user.gives_consent %}
                <p>
                    You have already agreed to participate in this research.
                    If you would like to withdraw from the study, please <a href="{% url 'web:contact' %}">contact us</a>.
                    <br/>
                    You can still use the chat room without being in the study.
                </p>
            {% elif user.is_authenticated %}
                You have not agreed to participate. <a href="{% url 'accounts:consent' %}">Change my setting</a>.
            {% else %}
                <a href="{% url 'accounts:registration_register' %}" class="btn btn-lg btn-primary">Create an account</a>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
