{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Chat with Data Scientists</h1>

        <p class="lead">
            An online community for data scientists across NYU, Berkeley, and UW.
        </p>

        <p>
            {% if user.is_authenticated %}
                <a class="btn btn-lg btn-success"
                   href="{% url 'accounts:registration_register' %}"
                   role="button">Create an account</a>
            {% endif %}
        </p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Connect and Communicate</h4>

            <p>
                The data science chat room is a social space where data scientists across
                NYU, Berkeley, and UW can gather:
            </p>

            <ul>
                <li>Ask questions and share advice about data science.</li>
                <li>Get to know other data scientists.</li>
                <li>Socialize and build a data science community.</li>
            </ul>

            <h4>It's Science!</h4>

            <p>
                Group chat rooms are a great way for a geographically dispersed
                group of people to stay in touch. Since chat is less formal than email,
                it can be fun and social. At the same time, you can use the chat room to ask
                questions and find people who can help you solve work problems.
            </p>

            <p><a href="{% url 'web:research' %}">Read more about why chat is great for online collaboration</a>.</p>

        </div>

        <div class="col-lg-6">
            <h4>Get started</h4>

            <p>
                Once you <a href="{% url 'accounts:registration_register' %}">create an account</a>,
                you can get started quickly using the <a href="{% url 'web:chat' %}">web-based client</a>, right in your
                browser. You can also <a href="{% url 'web:setup' %}">connect to the chat room</a> using any chat client
                that supports XMPP.
            </p>

            <h4>About us</h4>

            <p>
                The data science chat room is based at the University of Washington.
                It is operated by Professor Cecilia Aragon, Michael Brooks, and Brittany Fiore-Silfvast.
            </p>

            <p>
                This project is part of a cross-campus collaborative data science effort
                supported by the Gordon and Betty Moore Foundation and the Alfred P. Sloan Foundation.
                <a href="http://escience.washington.edu/blog/introducing-data-science-environment"
                   target="_blank">Read more about this initiative.</a>
            </p>

            <p>
                For questions about the data science chat room, <a href="{% url 'web:contact' %}">contact us</a>.
                Learn more about <a href="http://data.uw.edu/" target="_blank">Data Science at UW</a>.
            </p>

        </div>
    </div>
{% endblock %}
