<div class="study-information">
    <h4>Purpose</h4>
    <p>
        We are currently running a study at the University of Washington to find out how people use the
        data science chat room. You can still use the chat room without being in the study. If you don’t
        want to participate, just uncheck the box below. Please
        <a href="{% url 'web:contact' %}">contact us</a> if you have questions.
    </p>

    <h4>How it works</h4>
    <p>
        In the chat room, you can have conversations with others who are present in the online chat
        room. Your messages in the chat room are stored on our server. If you agree to be in the study,
        we may analyze this data to learn about how the chat room supported your data science work.
    </p>

    <h4>Confidentiality</h4>
    <p>
        Note that messages you post in the chat room are visible to others, and will be stored on our
        server, regardless of whether you agree to be in the study. Please don’t post anything you
        wouldn’t want your colleagues to read. Data will be linked to your chat room username. You may
        contact us if you want to have your data removed.
    </p>

    <p>
        Your data will only be used for this study; data in research publications will be anonymized or
        aggregated with other users’ data. Government or university staff sometimes review studies such
        as this one to make sure they are being done safely and legally. If a review of this study takes
        place, your records may be examined. The reviewers will protect your privacy. The study records
        will not be used to put you at legal risk or harm.
    </p>

    <h4>Risks and Benefits</h4>
    <p>
        There are no direct benefits to you for being in the study; risks include breach of
        confidentiality. This study will help us understand how collaborative and community-based
        technologies can support an emerging data science community.
    <p>

    <h4>Participation is voluntary</h4>
    <p>
        If you do not wish to be in the study, uncheck the box below before
        entering the data science chat room. If you agree now but change your mind later, please contact
        us. For questions about your rights as a participant, contact the UW Human Subjects Division at
        (206) 543-0098.
    </p>
</div>
