{% load compress static lineage bootstrap3 %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Data Science Chat{% endblock %}</title>
    <meta name="description" content="A chat room for data scientists">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- Load Source Sans Pro font -->
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'/>

    {% block page_css %}
        {% compress css %}
            <!-- Vendor css -->
            <link rel="stylesheet" href="{% static 'css/bootstrap_theme.less' %}" type="text/less"/>
            <link rel="stylesheet" href="{% static 'vendor/bower/ie10-viewport-fix/ie10-viewport-fix.css' %}"/>
        {% endcompress %}

        {% compress css %}
            <!-- Site CSS -->
            <link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
            <link rel="stylesheet" href="{% static 'css/user_profile.css' %}"/>
            <link rel="stylesheet" href="{% static 'css/home_page.less' %}" type="text/less"/>
            <link rel="stylesheet" href="{% static 'css/research_page.css' %}"/>
            <link rel="stylesheet" href="{% static 'css/setup_page.css' %}"/>
            <link rel="stylesheet" href="{% static 'css/consent_page.css' %}"/>
        {% endcompress %}

    {% endblock %}

</head>
<body>

<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'web:home' %}">Data Science Chat</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% ancestor 'web:chat' %}"><a href="{% url 'web:chat' %}">Web Chat</a></li>
                    <li class="{% ancestor 'web:setup' %}"><a href="{% url 'web:setup' %}">Setup</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li class="{% ancestor 'accounts:profile' %}">
                            <a href="{% url 'accounts:profile' %}"
                               title="View my profile">Hello, {{ user.first_name }}</a>
                        </li>
                        <li><a href="{% url 'accounts:logout' %}">Sign out</a></li>
                    {% else %}
                        <li class="{% ancestor 'accounts:login' %}">
                            <a href="{% url 'accounts:login' %}">Sign in</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="container interior">
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>

<div class="footer">
    <div class="container">
        <p class="navbar-text">&copy; University of Washington 2014</p>
        <ul class="footer-nav pull-right">
            <li><a href="//www.washington.edu/online/privacy" target="_blank">Privacy</a></li>
            <li><a href="//www.washington.edu/online/terms" target="_blank">Terms</a></li>
        </ul>
    </div>
</div>

{% block page_js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    {% compress js %}
        <!-- Vendor JS -->
        <script src="{% static 'vendor/bower/bootstrap/dist/js/bootstrap.js' %}"></script>
        <script src="{% static 'vendor/bower/wp8-ie10-fix/wp8-ie10-fix.js' %}"></script>
    {% endcompress %}
{% endblock %}

</body>
</html>
